.toggle{
    position: absolute;
    width: 122px;
    height: 44px;
    left: 151px;
    top: 52px;
    z-index: 1;
    padding: 0;
    border-radius: 40px;
    transition: all .3s;

}

.dark{
    background: #1B6A9C;
    background-image: url('./img/darkIcon/vectorSun.png'), url('./img/LightIcon/bx_bx-moon.png');
    background-position:17px center, 77px center; 
    background-repeat: no-repeat;
    background-size: 30px 30px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));

}

.light{
    background: #A9DCFD;
    background-image: url('./img/LightIcon/bi_sun.png'),url('./img/LightIcon/bx_bx-moon.png');
    background-position:17px center, 77px center; 
    background-repeat: no-repeat;
    background-size: 30px 30px;
    filter: drop-shadow(0px 0px 20px rgba(129, 129, 129, 0.15));
   
    
}

